DATABASE_URL="postgresql://app_voltz:app_voltz@localhost:5432/app_voltz?schema=public"
NODE_ENV="development"
API_PORT="3333"
API_HOST="0.0.0.0"
APP_ORIGIN="*"
PANDASCORE_API_TOKEN=""
EXPO_PUBLIC_API_URL="http://127.0.0.1:3333"
